
{% extends 'base.html' %}
{% block title %}Add Transaction{% endblock %}
{% block heading %}Add Journal Entry{% endblock %}
{% block content %}



<form method="POST" class="space-y-4 bg-white p-4 rounded shadow-md">
  {% csrf_token %}
  <input type="text" name="description" placeholder="Description" required class="w-full border p-2 rounded" />

  <!-- Journal Type -->
  <div>
    <label>Journal</label>
    <select name="journal_id" required class="w-full border p-2 rounded">
      {% for journal in journals %}
        <option value="{{ journal.id }}">{{ journal.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="grid grid-cols-2 gap-4">
    <div>
      <label>Debit Account</label>
      <select name="debit_account" class="w-full border p-2 rounded">
        {% for account in accounts %}
          <option value="{{ account.id }}">{{ account.code }} - {{ account.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label>Credit Account</label>
      <select name="credit_account" class="w-full border p-2 rounded">
        {% for account in accounts %}
          <option value="{{ account.id }}">{{ account.code }} - {{ account.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <input type="number" name="amount" step="0.01" placeholder="Amount" required class="w-full border p-2 rounded" />
  <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">Save Transaction</button>
</form>


{% endblock %}
